[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    missing-final-newline,
    trailing-whitespace,
    too-few-public-methods,
    unnecessary-pass

[DESIGN]
max-args=8
max-positional-arguments=8